root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,jsonc,yml,yaml,csproj,props,targets,slnx,xml,config,http}]
indent_size = 2

[*.{ts,tsx,js,jsx,mjs,css,html}]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.cs]
# Usings e namespaces
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:warning
csharp_style_namespace_declarations = file_scoped:warning

# Estilo
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_prefer_braces = when_multiline:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
dotnet_style_readonly_field = true:warning
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_prefer_collection_expression = when_types_loosely_match:suggestion

# Nomenclatura
dotnet_naming_rule.interfaces_com_i.symbols = interfaces
dotnet_naming_rule.interfaces_com_i.style = prefixo_i
dotnet_naming_rule.interfaces_com_i.severity = warning
dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_style.prefixo_i.capitalization = pascal_case
dotnet_naming_style.prefixo_i.required_prefix = I

dotnet_naming_rule.campos_privados.symbols = campos_privados
dotnet_naming_rule.campos_privados.style = underscore_camel
dotnet_naming_rule.campos_privados.severity = suggestion
dotnet_naming_symbols.campos_privados.applicable_kinds = field
dotnet_naming_symbols.campos_privados.applicable_accessibilities = private
dotnet_naming_style.underscore_camel.capitalization = camel_case
dotnet_naming_style.underscore_camel.required_prefix = _

# Migrations são geradas pelo EF Core
[**/Migrations/*.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none
